body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.mapboxgl-ctrl-bottom-right {
    opacity: 0;
}

.mapboxgl-ctrl-bottom-left {
    opacity: 0;
}

.mapboxgl-ctrl-top-right {
    z-index: 110000;
}